<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Layout Page</title>
    <link rel="stylesheet" th:href="@{/css/admin/bootstrap/bootstrap.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" th:href="@{/css/admin/adminlte/AdminLTE.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminlte/skins/skin-blue.css}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <div th:replace="~{mainheader :: header}"></div>
        </header>
        <aside class="main-sidebar">
            <div th:replace="~{mainsidebar :: sidebar}"></div>
        </aside>
        <div class="content-wrapper">
            <section class="content-header" layout:fragment="header"></section>

            <section class="content">
                <div th:if="${successFlash != null}" class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <p th:text="${successFlash}"></p>
                </div>

                <div th:if="${errorFlash != null}" class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <p th:text="${errorFlash}"></p>
                </div>

                <div th:if="${infoFlash != null}" class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <p th:text="${infoFlash}"></p>
                </div>

                <div layout:fragment="content"></div>
            </section>
        </div>
        <footer class="main-footer">
            <strong>Copyright &copy; 2020 Spring Boot - Real Property.</strong>
        </footer>
    </div>
</body>
</html>