<section class="sidebar" th:fragment="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i> <span>Registration</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/admin/add-employee"><i class="fa fa-circle-o"></i> Add Employees</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/admin/list-employee"><i class="fa fa-circle-o"></i> List Employees</a></li>
            </ul>
        </li>
    </ul>
</section>