<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/layout">
<head>
    <title>Add New Client</title>
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
    </style>
</head>
<body>
    <li class="nav-item has-treeview menu-open" layout:fragment="sb-client">
        <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-handshake"></i>
            <p>
                Client
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/admin/list-client" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>List Client</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/add-client" class="nav-link active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add New Client</p>
                </a>
            </li>
        </ul>
    </li>

    <div layout:fragment="header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Add New Client</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Add New Client</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section layout:fragment="content">
        <div class="container-fluid">
            <div class="card">
                <form role="form" th:object="${addClientForm}" th:action="@{/admin/add-client}" method="post">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label th:for="fullname">Full Name</label>
                                    <input type="text" class="form-control" required th:field="*{fullname}">
                                </div>
                                <div class="form-group">
                                    <label th:for="email">Email</label>
                                    <input type="email" class="form-control" required th:field="*{email}">
                                </div>
                                <div class="form-group">
                                    <label th:for="phone">Phone</label>
                                    <input type="tel" pattern="[0-9]{10}" class="form-control" required th:field="*{phone}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label th:for="appointmentDate">Appointment Date</label>
                                    <input type="date" class="form-control" required th:field="*{appointmentDate}">
                                </div>
                                <div class="form-group">
                                    <label th:for="status">Status</label>
                                    <select class="form-control" required th:field="*{status}">
                                        <option th:value="Waiting">Waiting</option>
                                        <option th:value="Ongoing">Ongoing</option>
                                        <option th:value="Fulfill">Fulfill</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label th:for="propertyId">Property</label>
                                    <select class="form-control select2" th:field="*{propertyId}">
                                        <option th:value="''" th:text="'Select property'"></option>
                                        <option th:each="property: ${listProperty}" th:value="${property.id}" th:text="'(' + ${property.id} + ') ' + ${property.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-danger float-right" th:href="@{'/admin/list-client'}" th:text="Back"></a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>