<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/layout">
<head>
    <title>Update Client</title>
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
    </style>
</head>
<body>
    <div layout:fragment="header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Update Client</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                        <li class="breadcrumb-item"><a href="/admin/list-client">List Client</a></li>
                        <li class="breadcrumb-item active">Update Client</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section layout:fragment="content">
        <div class="container-fluid">
            <div class="card">
                <form role="form" th:object="${updateClientForm}" th:action="@{/admin/update-client}" method="post">
                    <input type="hidden" th:field="*{id}">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label th:for="fullname">Full Name</label>
                                    <input type="text" class="form-control" required th:field="*{fullname}">
                                </div>
                                <div class="form-group">
                                    <label th:for="email">Email</label>
                                    <input type="email" class="form-control" required th:field="*{email}">
                                </div>
                                <div class="form-group">
                                    <label th:for="phone">Phone</label>
                                    <input type="tel" pattern="[0-9]{10}" class="form-control" required th:field="*{phone}">
                                </div>
                                <div class="form-group">
                                    <label th:for="status">Status</label>
                                    <select class="form-control" required th:field="*{status}">
                                        <option th:value="Waiting">Waiting</option>
                                        <option th:value="Ongoing">Ongoing</option>
                                        <option th:value="Fulfill">Fulfill</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label th:for="appointmentDate">Appointment Date</label>
                                    <input type="date" class="form-control" required th:field="*{appointmentDate}">
                                </div>
                                <div class="form-group">
                                    <label th:for="propertyId">Property</label>
                                    <select class="form-control select2" th:field="*{propertyId}">
                                        <option th:value="''" th:text="'Select property'"></option>
                                        <option th:each="property: ${listProperty}" th:value="${property.id}" th:text="'(' + ${property.id} + ') ' + ${property.name}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label th:for="employeeId">Employee</label>
                                    <select class="form-control select2" th:field="*{employeeId}">
                                        <option th:value="''" th:text="'Select employee'"></option>
                                        <option th:each="employee: ${listEmployee}" th:value="${employee.id}" th:text="'(' + ${employee.id} + ') ' + ${employee.fullname} + ' - ' + ${employee.status}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-danger float-right" th:href="@{'/admin/list-client'}" th:text="Back"></a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>