<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/layout">
<head>
    <title>Client Profile</title>
</head>
<body>
    <div layout:fragment="header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Client Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                        <li class="breadcrumb-item"><a href="/admin/list-client">List Client</a></li>
                        <li class="breadcrumb-item active">Client Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section layout:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body box-profile">
                            <strong><i class="fas fa-address-card mr-1"></i> Full Name</strong>
                            <p class="text-muted" th:text="${getClient.fullname}"></p>
                            <hr>
                            <strong><i class="fas fa-envelope mr-1"></i> Email</strong>
                            <p class="text-muted" th:text="${getClient.email}"></p>
                            <hr>
                            <strong><i class="fas fa-phone mr-1"></i> Phone</strong>
                            <p class="text-muted" th:text="${getClient.phone}"></p>
                            <hr>
                            <strong><i class="fas fa-calendar-alt mr-1"></i> Appointment Date</strong>
                            <p class="text-muted" th:text="${#dates.format(getClient.appointmentDate, 'dd/MM/yyyy')}"></p>
                            <hr>
                            <strong><i class="fas fa-briefcase mr-1"></i> Status</strong>
                            <p class="text-muted" th:text="${getClient.status}"></p>
                            <hr>
                            <div th:style="${getClient.propertyId == null ? 'display:none' : 'display:block'}">
                                <strong><i class="fas fa-building mr-1"></i> Property</strong><br>
                                <a th:href="@{'/admin/view-property/' + ${getClient.propertyId}}" th:text="${getClient.propertyName}"></a>
                                <hr>
                            </div>
                            <div th:style="${getClient.employeeId == null ? 'display:none' : 'display:block'}">
                                <strong><i class="fas fa-building mr-1"></i> Property</strong><br>
                                <a th:href="@{'/admin/view-employee/' + ${getClient.employeeId}}" th:text="${getClient.employeeName}"></a>
                                <hr>
                            </div>
                            <strong><i class="fas fa-calendar-check mr-1"></i> Created Date</strong>
                            <p class="text-muted" th:text="${#dates.format(getClient.createdAt, 'dd/MM/yyyy')}"></p>
                            <hr>
                            <strong><i class="fas fa-calendar-times mr-1"></i> Updated Date</strong>
                            <p class="text-muted" th:text="${#dates.format(getClient.updatedAt, 'dd/MM/yyyy')}"></p>
                            <hr>
                            <a class="btn btn-primary" th:href="@{'/admin/update-client/' + ${getClient.id}}" th:text="Edit"></a>
                            <a class="btn btn-success" th:href="@{'/admin/add-contract/' + ${getClient.id}}" th:text="'New Contract'"></a>
                            <a class="btn btn-danger float-right" th:href="@{'/admin/list-client'}" th:text="Back"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>