<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/layout">
<head>
    <title>List Employee</title>
</head>
<body>
    <li class="nav-item has-treeview menu-open" layout:fragment="sb-employee">
        <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-user"></i>
            <p>
                Employee
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/admin/list-employee" class="nav-link active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>List Employee</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/add-employee" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add Employee</p>
                </a>
            </li>
        </ul>
    </li>

    <div layout:fragment="header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">List Employee</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                        <li class="breadcrumb-item active">List Employee</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section layout:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Employee</h3>
                            <a href="/admin/add-employee" class="btn btn-default float-right"><i class="fas fa-plus"></i></a>
                        </div>
                        <div class="card-body">
                            <table id="dataTable" class="table table-bordered table-striped" data-order="[[ 0, &quot;desc&quot; ]]">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Full Name</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="employee: ${listEmployee}">
                                    <td th:text="${employee.id}"></td>
                                    <td th:text="${employee.fullname}"></td>
                                    <td th:text="${employee.address}"></td>
                                    <td th:text="${employee.phone}"></td>
                                    <td th:text="${employee.email}"></td>
                                    <td><span class="badge" th:classappend="${(employee.status == 'Standby' ? 'badge-warning' : '' +
                                                                               employee.status == 'Active' ? 'badge-info' : '' +
                                                                               employee.status == 'Resign' ? 'badge-danger' : '')}"><a th:text="${employee.status}"></a></span></td>
                                    <td>
                                        <a th:href="@{'/admin/view-employee/' + ${employee.id}}"><button type="button" class="btn btn-info">View</button></a>
                                        <a th:href="@{'/admin/update-employee/' + ${employee.id}}"><button type="button" class="btn btn-success">Edit</button></a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Full Name</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>