<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/layout">
<head>
    <title>Update Employee</title>
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
    </style>
</head>
<body>
    <div layout:fragment="header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Update Employee</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                        <li class="breadcrumb-item"><a href="/admin/list-employee">List Employee</a></li>
                        <li class="breadcrumb-item active">Update Employee</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section layout:fragment="content">
        <div class="container-fluid">
            <div class="card">
                <form role="form" th:object="${updateEmployeeForm}" th:action="@{/admin/update-employee}" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label th:for="fullname">Full Name</label>
                                    <input type="text" class="form-control" required th:field="*{fullname}">
                                </div>
                                <div class="form-group">
                                    <label th:for="address">Address</label>
                                    <input type="text" class="form-control" required th:field="*{address}">
                                </div>
                                <div class="form-group">
                                    <label th:for="phone">Phone</label>
                                    <input type="tel" pattern="[0-9]{10}" class="form-control" required th:field="*{phone}">
                                </div>
                                <div class="form-group">
                                    <label th:for="email">Email</label>
                                    <input type="email" class="form-control" required th:field="*{email}">
                                </div>
                                <div class="form-group">
                                    <label th:for="salary">Salary (VND)</label>
                                    <input type="number" min="0" class="form-control" required th:field="*{salary}">
                                </div>
                                <div class="form-group">
                                    <label th:for="birthdate">Birthdate</label>
                                    <input type="date" class="form-control" required th:field="*{birthdate}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label th:for="position">Position</label>
                                    <select class="form-control" required th:field="*{position}">
                                        <option th:value="''"></option>
                                        <option th:value="'Quản lý'">Quản lý</option>
                                        <option th:value="'Nhân viên'">Nhân viên</option>
                                        <option th:value="'Thực tập'">Thực tập</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label th:for="status">Status</label>
                                    <select class="form-control" required th:field="*{status}">
                                        <option th:value="Standby">Standby</option>
                                        <option th:value="Active">Active</option>
                                        <option th:value="Resign">Resign</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="avatar">Avatar</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" name="file" class="custom-file-input" id="avatar">
                                            <label class="custom-file-label" for="avatar">Choose image</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label th:for="joinDate">Join Date</label>
                                    <input type="date" class="form-control" required th:field="*{joinDate}">
                                </div>
                                <div class="form-group">
                                    <label th:for="resignDate">Resign Date</label>
                                    <input type="date" class="form-control" th:field="*{resignDate}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-danger float-right" th:href="@{'/admin/list-employee'}" th:text="Back"></a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>