<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/layout">
<head>
    <title>Add New Contract</title>
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
    </style>
</head>
<body>
    <div layout:fragment="header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Add New Contract</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Add New Contract</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section layout:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <form role="form" th:object="${addContractForm}" th:action="@{/admin/add-contract}" method="post">
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label th:for="startDate">Start Date</label>
                                        <input type="date" class="form-control" required="required" th:field="*{startDate}" placeholder="Enter start date">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label th:for="duration">Duration (month)</label>
                                        <span th:if="${getProperty.option == 'Thuê'}">
                                            <input type="number" min="0" class="form-control" required="required" th:field="*{duration}" placeholder="Duration" onchange="calculate()">
                                        </span>
                                        <span th:if="${getProperty.option == 'Mua'}">
                                            <input type="number" min="0" class="form-control" th:field="*{duration}" placeholder="Duration" disabled>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label style="display: block" th:for="propertyPrice">Property Price</label>
                                        <input style="display: inline" type="number" class="form-control col-sm-5" th:id="propertyPrice" th:value="${getProperty.price}" readonly onchange="calculate()"><strong> $ / month</strong>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label style="display: block" th:for="commission">Commission</label>
                                        <span th:if="${getProperty.option == 'Thuê' && getProperty.rate == null}">
                                            <input style="display: inline" type="number" class="form-control col-sm-5" required="required" th:field="*{commission}"><strong> $</strong>
                                        </span>
                                        <span th:if="${getProperty.option == 'Thuê' && getProperty.rate != null}">
                                            <input style="display: inline" type="number" class="form-control col-sm-5" required="required" th:id="commission" th:name="commission" th:value="${comAttr}"><strong> $</strong>
                                        </span>
                                        <span th:if="${getProperty.option == 'Mua'}">
                                            <input style="display: inline" type="number" class="form-control col-sm-5" required="required" th:id="commission" th:name="commission" th:value="${comAttr}"><strong> $</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label th:for="propertyOption">Property Option</label>
                                        <input type="text" class="form-control" th:id="propertyOption" th:value="${getProperty.option}" readonly>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label th:for="propertyType">Property Type</label>
                                        <input type="text" class="form-control" th:value="${getProperty.type}" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label th:for="status">Status</label>
                                    <select class="form-control" required="required" th:field="*{status}">
                                        <option th:value="Pending">Pending</option>
                                        <option th:value="Complete">Complete</option>
                                        <option th:value="Cancel">Cancel</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label style="display: block" th:for="clientId">Client</label>
                                    <input style="display: inline" type="text" class="form-control col-md-2" th:id="clientId" th:name="clientId" th:value="${getClient.id}" readonly>
                                    <input style="display: inline; width: 470px" type="text" class="form-control" th:value="${getClient.fullname}" readonly>
                                </div>
                                <div class="form-group">
                                    <label style="display: block" th:for="propertyId">Property</label>
                                    <input style="display: inline" type="text" class="form-control col-md-2" th:id="propertyId" th:name="propertyId" th:value="${getProperty.id}" readonly>
                                    <input style="display: inline; width: 470px" type="text" class="form-control" th:value="${getProperty.name}" readonly>
                                </div>
                                <div class="form-group">
                                    <label th:for="clientEmail">Client Email</label>
                                    <p class="text-muted" th:text="${getClient.email}"></p>
                                </div>
                                <div class="form-group">
                                    <label th:for="clientPhone">Client Phone</label>
                                    <p class="text-muted" th:text="${getClient.phone}"></p>
                                </div>
                                <div class="form-group">
                                    <label th:for="propertyRate">Property Rate</label>
                                    <p class="text-muted" th:id="propertyRate" th:text="${getProperty.rate}"></p>
                                </div>
                                <div class="form-group">
                                    <label th:for="propertyAddress">Property Address</label>
                                    <p class="text-muted" th:text="${getProperty.address}"></p>
                                </div>
                                <div class="form-group">
                                    <label th:for="propertyBedroom">Property Bedroom</label>
                                    <p class="text-muted" th:text="${getProperty.bedroom} + ' Phòng ngủ'"></p>
                                </div>
                                <div class="form-group">
                                    <label th:for="propertyBathroom">Property Bathroom</label>
                                    <p class="text-muted" th:text="${getProperty.bathroom} + ' Phòng tắm'"></p>
                                </div>
                                <div class="form-group">
                                    <label th:for="propertyArea">Property Area</label>
                                    <p class="text-muted" th:text="${getProperty.area} + ' mét vuông'"></p>
                                </div>
                                <div class="form-group">
                                    <label th:for="propertyDescription">Property Description</label>
                                    <p class="text-muted" th:text="${getProperty.description}"></p>
                                </div>
                                <div class="form-group">
                                    <label style="display: block" th:for="ownerId">Owner</label>
                                    <input style="display: inline" type="text" class="form-control col-md-2" th:id="ownerId" th:name="ownerId" th:value="${getOwner.id}" readonly>
                                    <input style="display: inline; width: 470px" type="text" class="form-control" th:value="${getOwner.id}" readonly>
                                </div>
                                <div class="form-group">
                                    <label th:for="ownerEmail">Owner Email</label>
                                    <p class="text-muted" th:text="${getOwner.email}"></p>
                                </div>
                                <div class="form-group">
                                    <label th:for="ownerPhone">Owner Phone</label>
                                    <p class="text-muted" th:text="${getOwner.phone}"></p>
                                </div>
                                <div class="form-group">
                                    <label th:for="ownerAddress">Owner Address</label>
                                    <p class="text-muted" th:text="${getOwner.address}"></p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a href="/admin/list-contract" class="btn btn-default col-md-2 float-right"><b>Back</b></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>