<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/layout :: head">
    <meta charset="UTF-8">
    <title>Chi tiết căn hộ</title>
</head>
<body>
<nav th:replace="client/layout :: header"></nav>

<div class="container-fluid header-apartment-detail">
    <img th:src="@{/img/client/vinhome.jpg}" alt="Alternate Text" />
</div>
<div class="container">
    <div class="row apartment-detail-body">
        <div class="col-md-7">
            <div class="sm-text">Mã căn hộ</div>
<!--            <div class="title-detail-apartment">-->
<!--                Khu đô thị Royal City , Thượng Đình, Thanh Xuân, Hà Nội, Việt Nam-->
<!--            </div>-->
            <div class="address-detail-apartment">
                Khu đô thị Royal City , Thượng Đình, Thanh Xuân, Hà Nội, Việt Nam
            </div>
            <div class="facilities-detail-apartment">
                <div class="facility-detail-apartment">
                    <img th:src="@{/img/client/canho.png}" class="thumbnail-facility" alt="Alternate Text"/>
                    <p class="text-center facility-text">Căn hộ</p>
                </div>
                <div class="facility-detail-apartment">
                    <img th:src="@{/img/client/phongngu.png}" class="thumbnail-facility" alt="Alternate Text"/>
                    <p class="text-center facility-text">2 phòng ngủ</p>
                </div>
                <div class="facility-detail-apartment">
                    <img th:src="@{/img/client/phongtam.png}" class="thumbnail-facility" alt="Alternate Text"/>
                    <p class="text-center facility-text">2 phòng tắm</p>
                </div>
                <div class="facility-detail-apartment">
                    <img th:src="@{/img/client/dientich.png}" class="thumbnail-facility" alt="Alternate Text"/>
                    <p class="text-center facility-text">100 m<sup>2</sup></p>
                </div>

            </div>
        </div>

        <form class="col-md-5 apartment-detail-service" ng-submit="submitApartment()" ng-click="changeService()">
            <div class="header-service">
                <p class="label-service">Đăng ký tư vấn</p>

            </div>
            <div class="body-service">
                <div class="row" style="margin-left: 10px;">
                    <form>


                        <div class="col-12">

                            <span style="font-weight: 600;">Họ và tên</span><br>
                            <input type="text" placeholder="Họ và tên" class="ph-item" style="margin-top: 10px;margin-bottom: 15px;padding-left:20px;" required="">
                        </div>
                        <div class="col-12">
                            <span style="font-weight: 600;">Email</span><br>
                            <input type="email" placeholder="Email" class="ph-item"style="margin-top: 10px;margin-bottom: 15px;padding-left:20px;" required="">
                        </div>
                        <div class="col-12">
                            <span style="font-weight: 600;">Số điện thoại</span><br>
                            <input type="phone" placeholder="Số điện thoại" class="ph-item"style="margin-top: 10px;margin-bottom: 15px;padding-left:20px;" required="">
                        </div>
                        <button class="lh-btn" type="submit" >Gửi yêu cầu tư vấn</button>
                    </form>
                </div>

            </div>
        </form>
    </div>
</div>


<footer th:replace="client/layout :: footer"></footer>

</body>
</html>