<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/layout">
<head>
    <title>Owner Profile</title>
</head>
<body>
    <div layout:fragment="header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                        <li class="breadcrumb-item"><a href="/admin/list-owner">List Owner</a></li>
                        <li class="breadcrumb-item active">Owner Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section layout:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <strong><i class="fas fa-address-card mr-1"></i> Full Name</strong>
                            <p class="text-muted" th:text="${getOwner.fullname}"></p>

                            <hr>

                            <strong><i class="fas fa-envelope mr-1"></i> Email</strong>
                            <p class="text-muted" th:text="${getOwner.email}"></p>

                            <hr>

                            <strong><i class="fas fa-phone mr-1"></i> Phone</strong>
                            <p class="text-muted" th:text="${getOwner.phone}"></p>

                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Address</strong>
                            <p class="text-muted" th:text="${getOwner.address}"></p>

                            <hr>

                            <strong><i class="fas fa-briefcase mr-1"></i> Status</strong>
                            <p class="text-muted" th:text="${getOwner.status}"></p>

                            <hr>

                            <a th:href="@{'/admin/update-owner/' + ${getOwner.id}}" class="btn btn-primary col-md-2"><b>Edit</b></a>
                            <a href="/admin/list-owner" class="btn btn-default col-md-2 float-right"><b>Back</b></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body p-0">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Option</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="property: ${getPropertyByOwner}">
                                    <td th:text="${property.id}"></td>
                                    <td>
                                        <a th:href="@{'/admin/view-property/' + ${property.id}}" th:text="${property.name}"></a>
                                    </td>
                                    <td th:text="${property.type}"></td>
                                    <td th:text="${property.option}"></td>
                                    <td>
                                        <span class="badge" th:classappend="${(property.status == 'Appraise' ? 'badge-warning' : '' +
                                                                               property.status == 'Available' ? 'badge-success' : '' +
                                                                               property.status == 'Negotiation' ? 'badge-info' : '' +
                                                                               property.status == 'Sold' ? 'badge-danger' : '')}">
                                            <a th:text="${property.status}"></a>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>